.contact-us-card{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-height: 300px;
    max-height: auto;
    padding:20px;
    background-color:#ffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    transition: all 1s;
    transform-style: preserve-3d;
}

.contact-us-card__left{
left:0;
z-index: 2;
}

.contact-us-card__center{
left:50%;
transform: translatex(-50%);
z-index: 1;
}

.contact-us-card__right{
left:calc(100% - 390px);
z-index: 2;
}



.contact-us-card::before{
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    top: -10px;
    left: 0;
    border-radius: 12px;
    transform: translateZ(-10px);
    background-color:var(--primary-backgroud-color);
    
}

.contact-us-card__extend{
    top:50%;
    left:50%;
    padding: 20px 50px 50px;
    transform:translate(-50%,-10%);
    z-index: 3;
}

.contact-us-card__close-button{
    width:fit-content;
    align-self: flex-end;
}

.contact-us-card__inputs-wrapper{
    display:flex;
    flex-direction:column;
    row-gap: 10px;
    margin:10px 0 20px;
}




.contact-us-card__button{
    width:60%;
    align-self: center;
    margin-top: auto;
    margin-bottom: 20px;
}




@media only screen and (max-width: 1200px) {
    .contact-us-card__left{
        left:50%;
        top: 0;
        z-index: 2;
        transform: translatex(-50%);
    }
        
    .contact-us-card__center{
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    }
        
    .contact-us-card__right{
    left:50%;
    top: calc(100% - 390px);
    z-index: 2;
    transform: translatex(-50%);
    }   
}

@media only screen and (max-width: 768px) {
    .contact-us-card{
        min-width: 80%;
    } 

    .contact-us-card__extend{

        padding: 10px 25px 25px;

    }
}