.wishlist-item{
    padding:10px 30px;
}

.wishlist-item__line{
    display: flex;
    flex: 1 2 0px;
    column-gap: 10px;
    justify-content: space-between;
}

.wishlist-item__line:first-child{
    margin-bottom: 10px;
}

.wishlist-item__line > img{
 width: 15%;
}
.wishlist-item__line > h4{
    align-self: center;
}

.wishlist-item__line > div{
    display: flex;
    align-self: flex-start;
    column-gap: 5px;
}

.wishlist-item__line > button{
    border: 1px solid var(--light-border-color);
    border-radius: 12px;
    padding:5px;
    width:100%;
}