.setting__title {
    text-align: center;
}

.setting__section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 40px;
}

.setting__section .edit-avatar {
    max-width: 130px;
    width: 100%;
    margin: 0;
}

.setting__section .primary-button {
    max-width: 150px;
}


.setting__logout-button {
    display: flex;
    align-items: center;
    column-gap: 5px;
}