.carousel-slide a{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    
}

.carousel-slide img{
    object-fit: contain;
    aspect-ratio: 3/1;
}
.carousel-slide span{
    max-width: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-weight: 700;
}