
.category-item{
    width:282px;
    height:300px;

}
.category-item a{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.category-item img{
    max-width: 150px;
    align-self: center;
    margin: auto 0;

}


.category-item span{
    height:50px;
    text-align:center;
    font-weight: 700;
}